.background {
    background-image: url("./images/1.jpg");
    height: 100%;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
}
.top {
    position: relative;
    height: 25%;
}

.center {
    position: relative;
    width: 100%;
    display: block;
    height: 45%;
    /*border: 3px solid #73AD21;*/
}
.center-bottom {
    position: relative;
    display: block;
    /*border: 3px solid #73AD21;*/
}

.bottom {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 2%;
    /*border: 3px solid #73AD21;*/
}

.row {
    width: 100%;
    height: 50%;
}

.side-col {    
    float: left;
    width: 20%;
    height: 100%;
}

.center-col {  
    float: left;  
    width: 60%;
    height: 100%;
}

.clock-text {
    font-size: 1500%;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
}

.timer-text {
    font-size: 1400%;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    border: 2px solid #fff;
}

.timer-input {
    margin-top: 10px;
    border: 2px solid #fff;
    background: 0;
    outline: none;
    font-weight: 300;
    color: white;
    left: 50%;
    width: 25%;
    font-size: x-large;
    text-align: center;
    margin-top: 5px;

}

.hide {
    display: none
}

.invisible {
    visibility: hidden;
}

.greets-text {
    font-size: 300%;
    color: white;
    font-family: monospace;    
    text-align: center;
    font-weight: bold;
}

.todo-header-text {
    font-size: 200%;
    color: white;
    font-family: monospace;    
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.todo-text {
    font-size: 400%;
    color: white;
    font-family: monospace;    
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.todo-item {
    cursor: pointer;
}

.quote-text {
    font-size: 180%;
    color: white;
    font-family: monospace;    
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.todo-board {
    padding: 10px;
    height: 100%;
    text-align: right;
    color: white;
}

.todo-board-items {
    list-style: none;
    font-size: 120%;
    margin-top: 5px;
}

.todo-board-header {
    font-size: 200%;
    text-align: right;
}

.marginauto {
    margin: auto;
    display: block;
}

body, html  {
    height: 100%;
    margin: 0;
}